.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
*.tsbuildinfo
**/.serena
.serena/
/result
Session.vim
opencode.json
a.out
target
.scripts
.direnv/
packages/bun-wasm/wasm/
tests/upstream/bun/
tests/upstream/node/

# Local dev files
opencode-dev
logs/
package-lock.json
